# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & local DB
.env
*.env
local.db
*.sqlite3
*.db

# Logs & cache
*.log
pytest_cache/
*.tmp

# Build/Dist
build/
dist/

# Instances locales (non versionnées)
instances/
